<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IQSheets</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"}}
    />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/e1f37d5ff7.js"
      crossorigin="anonymous"
    ></script>

  </head>
  
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md mt-4">
      <div class="container">
          <a class="navbar-brand" href="{{url_for('core.index')}}" id="logo"><span id="logo-iq">IQ</span>Sheets</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-angle-down"></i></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <div class="d-flex">
              <ul class="navbar-nav me-auto justify-content-end">
                  <li class="nav-item me-3">
                      <a class="nav-link" aria-current="page" href="{{url_for('core.pricing')}}">Preise</a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page" href="{{url_for('core.pricing', _anchor='FAQs')}}">FAQs</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page" href="{{url_for('core.index', _anchor='features')}}">Features</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page" href="{{url_for('core.index', _anchor='vorteile')}}">Vorteile</a>
                </li>
                <a class="btn btn-primary me-2" href="{{url_for('user.register')}}">Registrieren</a>
                <a class="btn btn-outline-primary" href="{{url_for('user.login')}}">Login</a>
              </ul>
                  
            </div>
          </div>
      </div>
    </nav>

    {% block content %} 
    
    {% endblock %}
    <footer>
        <div class="container-fluid mt-5 mb-5">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-md-4 col-sm-8">
                            <div class="single-footer-caption">
                                <div class="footer-title">
                                    <div class="footer-pera">
                                        <h4><span id="logo-iq">IQ</span>Sheets</h4>
                                        <h6>Zeitsparen in Excel & Google Spreadsheets, dank smarter KI.</h6>
                                        <p class="info1">Ein Produkt der Mustermann UG (haftungsbeschränkt). <br>
                                            Mit dem smarten Formel-Generator und -Erklärer sparst du
                                            Zeit und Geld bei der Erstellung von Excel-Formeln. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption">
                                <div class="footer-title">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="{{url_for('core.pricing')}}">Preise</a></li>
                                        <li><a href="{{url_for('core.pricing', _anchor='FAQs')}}">FAQs</a></li>
                                        <li><a href="{{url_for('core.impressum')}}">Impressum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-title">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="{{url_for('core.kontakt')}}">Feedback</a></li>
                                        <li><a href="{{url_for('core.kontakt')}}">Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-title">
                                    <h4>Newsletter</h4>
                                    <div class="footer-pera footer-pera2">
                                    <p>Verpasse keine Updates, jetzt zum Newsletter anmelden.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <form method="POST" action="{{url_for('core.newsletter')}}">
                                        {{form_nl.hidden_tag()}}
                                        <div class="d-flex flex-row">
                                            {{form_nl.email(class_="form-control", placeholder="Email-Adresse")}}
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="p-2 btn btn-primary ms-2 px-3">
                                                    <i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </div>    
                                    </form>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Copy-Right -->
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
        </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- JS file -->
    <script src="{{url_for('static', filename='main.js')}}" charset="utf-8"></script>
  </body>
</html>
