{% extends "base.html" %} {% block content %}
<main>
    <!-- Hero Area-->
    <section class="hero py-5">
        <div class="container">
            <div class="card py-3">
                <div class="impressum ps-4">
                  <div class="row justify-start"> 
                    <div class="col-xl-6 col-lg-4">
                        <h2 class="imprint-title pb-4">Impressum</h2>
                        <div class="imprint-text">
                            <h4><span id="logo-iq" style="font-size:30px">IQ</span>Sheets</h4>
                            <br>
                            <p>Ein Produkt der <h6>PyMinds UG <span style="font-style:italic">(haftungsbeschränkt)</span></h6>
                            <br>
                            <h6>Anschrift</h6>
                            <p>Maxmusterstr. 23</p>
                            <p>81541 München</p>
                            <p>Deutschland</p>
                            <br>
                            <p>USt-ID: DE12345</p>
                            <p>info@iqsheets.de</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- Slider Area End -->
    </section>
</main>
{% endblock %}