{% extends "base.html" %} {% block content %}
<main>
    <!-- Hero Area-->
    <section class="hero py-5">
        <div class="container">
            <div class="card py-3">
                <div class="impressum ps-4">
                  <div class="row justify-start"> 
                    <div class="col-xl-6 col-lg-4">
                        <h2 class="imprint-title pb-4">Impressum</h2>
                        <div class="imprint-text">
                            <h5>IQSheets</h5>
                            <h5>Produkt der Max Mustermann UG (haftungsbeschränkt)</h5>
                            <p>Maxmusterstr. 23</p>
                            <p>81541 München</p>
                            <p>Deutschland</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- Slider Area End -->
    </section>
</main>
{% endblock %}