{% extends "base.html" %} {% block content %}
<main>
    <!-- Hero Area-->
    <section class="hero my-5 py-5">
            <div class="slider-active">
                <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s"><span id="logo-iq" style="font-size:20px;">IQ</span>Sheets</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Textanweisungen sekundenschnell <br>in <span style="font-size: 45px; font-style:italic;">Excel-Formeln</span> <br> verwandeln.</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Dank smarter<span style="font-size:20px; font-style:italic;"> KI </span> kein Kopfzerbrechen mehr in während deiner täglichen Arbeit in <span style="font-size: 20px; font-style:italic;">Spreadsheets.</span></p>
                                    <!-- Slider btn -->
                                <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a class="btn btn-primary me-2" href="{{url_for('user.register')}}">Jetzt Formeln erstellen</a>
                                        <!-- Video Btn -->
                                        <a data-animation="fadeInRight" data-delay="1.0s" class="btn btn-secondary" href="{{url_for('core.index',_anchor='video-description')}}"><i class="fas fa-play pe-2"></i>Wie funktioniert <span id="logo-iq" style="font-size:14px">IQ</span>Sheets?</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-5 ms-5 justify-content-end">
                                <div class="hero__img d-none d-lg-block f-right ms-5" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{{url_for('static', filename='img/undraw_completed_tasks_vs6q.svg')}}" alt="Landing Page" height="500rem">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Slider Area End -->
    </section>
   
    <!-- Applic App Start -->
    <section class="app-pictures py-5">
        <div class="applic-apps">
            <div class="container-fluid justify-content-center">
                <div class="row justify-content-center">
                    <!-- slider Heading -->
                    <div class="col-xl-8 col-lg-8 col-md-8 text-center" id="video-description">
                        <div class="single-cases-info">
                            <h3>IQSheets<br></h3>
                            <p>In nur wenigen Klicks zur Excel-Formel wie hier in dem Video gezeigt:</p>
                        </div>
                    </div>
                    <!-- OwL -->
                    <div class="d-flex flex-row justify-content-center mt-2 py-4">
                        <div class="col-xl-12 col-lg-8 col-md-7 align-self-center text-center">
                            <video src="{{url_for('static', filename='img/IQSheetsVid.mp4')}}" height="700" 
                            type="video/mp4" controls>
                                Browser unterstützt Videowiedergabe nicht.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Applic App End -->

    <!-- Services Area Start -->
    <section class="service-area my-5" id="vorteile">
        <div class="container-fluid py-5">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center">
                        <h2>Wie hilft dir <span style="font-size:33px"><span id="logo-iq" style="font-size:40px">IQ</span>Sheets</span> im Spreadsheet Alltag?</h2>
                    </div>
                </div>
            </div>
            <!-- Section caption -->
            <div class="container-fluid">
                <div class="row py-5">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-caption text-center mb-30 px-5 py-5">
                            <div class="service-icon">
                                <i class="fa-solid fa-bolt fa-3x"></i>
                            </div> 
                            <div class="service-cap pt-4">
                                <h4>Formeln 10x schneller</h4>
                                <p class="pt-2">Generieren Sie die benötigten Formeln in sekundenschnelle. 
                                Keine Zeit und Nerven mehr mit der Erstellung von Formeln 
                                durch lange Internetrecherche verschwenden.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-caption text-center mb-30 px-5 py-5">
                            <div class="service-icon">
                                <i class="fa-solid fa-chalkboard-user fa-3x"></i>
                            </div> 
                            <div class="service-cap pt-4">
                                <h4>Spreadsheet Profi werden</h4>
                                <p class="pt-2">
                                    Ob Anfänger oder Fortgeschritten in Excel/Google Sheets. Mit IQSheets jetzt zum kann 
                                    Tabellenkalkulations-Profi werden.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-caption text-center mb-30 px-5 py-5">
                            <div class="service-icon">
                                <i class="fa-regular fa-clock fa-3x"></i>
                            </div> 
                            <div class="service-cap pt-4">
                                <h4>Zeitersparnis</h4>
                                <p class="pt-2">Keine komplexe Formeln merken oder stundenlang 
                                    diese von Grund auf neu erstellen. Speichere dir deine Favoriten einfach ab!</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-caption text-center mb-30 px-5 py-5">
                            <div class="service-icon">
                                <i class="fa-solid fa-lightbulb fa-3x"></i>
                            </div> 
                            <div class="service-cap pt-4">
                                <h4>Neue Ideen</h4>
                                <p class="pt-2">Entdecke mit IQSheets neue <br>
                                    Lösungen für deine Arbeitsalltag und über 
                                    <span style="font-size:20px; font-style:italic">100 Vorlagen</span><br>
                                    für Google Sheets und Excel.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Services Area End -->

    <!-- Best Features Start -->
    <section class="features py-5 mt-5" id="features">
        <div class="container py-5">
            <!-- Section Title -->
            <div class="row d-flex justify-content-center ">
                <div class="col-lg-6 col-md-8">
                    <div class="section-title text-center pb-5">
                        <h2>Die besten <span style="font-style:italic; text-decoration: underline">Features</span> unserer App</h2>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div class="features">
                <div class="container">
                    <div class="row row-cols-2 text-center justify-content-center">
                        <div class="card mb-1 rounded-0 border-0">
                            <div class="card-header text-inline py-3 bg-transparent border-0">
                                <i class="fa-solid fa-file-excel fa-2x pb-2 pe-2"></i>
                                <h3 class="mb-0 d-inline-block">Excel & GSheets</h3>
                            </div>
                            <div class="card-body">
                                <p>Wir unterstützen die beiden gängigsten Spreadsheet Tools.</p>
                            </div>
                        </div>
                        <div class="card mb-1 rounded-0 border-0">
                            <div class="card-header py-3 bg-transparent border-0">
                                <i class="fa-solid fa-paper-plane fa-2x pb-2 pe-2"></i>
                                <h3 class="mb-0 d-inline-block">Formeln</h3>
                            </div>
                            <div class="card-body">
                                <p>Lass dir aus einfachen Textanweisungen direkt die passende Formel erstellen.</p>
                            </div>
                        </div>
                        <div class="card mb-1 rounded-0 border-0">
                            <div class="card-header py-3 bg-transparent border-0">
                                <i class="fa-solid fa-lightbulb fa-2xl pb-2 pe-2"></i>
                                <h3 class="mb-0 d-inline-block">Erklärungen</h3>
                            </div>
                            <div class="card-body">
                                <p>Du verstehst eine komplexe Funktion nicht? Lass dir diese einfach erklären.</p>
                            </div>
                        </div>
                        <div class="card mb-1 rounded-0 border-0">
                            <div class="card-header py-3 bg-transparent border-0">
                                <i class="fa-solid fa-magnifying-glass fa-2xl pb-2 pe-2"></i>
                                <h3 class="mb-0 d-inline-block">VBA</h3>
                            </div>
                            <div class="card-body">
                                <p>Lasse dir sogar passende Makros programmieren.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Best Features End -->

    <!-- Best Pricing Start -->
    <section class="pricing pt-4 pb-5">
        <div class="container py-4">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section-tittle section-tittle2 text-center">
                        <h2>Starte <span style="font-size: 38px;">kostenlos</span>. Upgrade jederzeit zum <span style="font-size: 38px;">Premium</span> unkompliziert.</h2>
                    </div>
                </div>
            </div>
        </div>
    <!-- Best Pricing End -->

    <!-- Pricing Card Start -->
        <div class="pricing-card-area py-5">
            <div class="container justify-content-center">
                <div class="row row-cols-1 row-cols-lg-3 mb-3 text-center justify-content-center">

                    <div class="col">
                        <div class="card mb-4 rounded-3 h-100 shadow-sm">
                            <div class="card-header py-3">
                                <h4>Starter</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">kostenlos</h1>
                                <ul class="list-unstyled my-3 py-3">
                                    <li class="py-1"><span style="font-size: 14px;">3 </span>Test KI Abfragen</li>
                                    <li class="py-1">Best Practices</li>
                                    <li class="py-1">Test Templates</li>
                                </ul>
                            </div>
                            <div class="card-bottom mb-3">
                                <a href="{{url_for('user.register')}}"><button class="btn btn-outline-primary w-100">Kostenlos testen</button></a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="card mb-4 rounded-3 h-100 shadow-sm">
                            <div class="card-header py-3">
                                <h4>Premium</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">4,99€ / mo </h1>
                                <ul class="list-unstyled my-3 py-3">
                                    <li class="py-1"><span style="font-style: oblique;">unbegrenzt </span>KI Abfragen</li>
                                    <li class="py-1">Best Practices</li>
                                    <li class="py-1">Alle Templates</li>
                                    <li class="py-1">Support</li>
                                </ul>
                            </div>
                            <div class="card-bottom mb-3">
                                <a href="{{url_for('user.register')}}"><button class="btn btn-primary py-3 w-100">Loslegen</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->

    <!-- Testimonials -->
    <section class="testimonials py-5">
        <div class="customers">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8">
                        <div class="section-tittle text-center">
                            <h2>Was unsere <span style="font-size: 35px; font-style:italic">Nutzer</span><br> über <span style="font-size: 35px; font-style:italic">Uns</span> sagen.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center py-5">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="textimonial-img mb-2">
                            <img src="static/img/testi1.png" alt="">
                        </div>
                        <div class="textimonial-cap">
                            <h6>Maria, Account Managerin</h6>
                            <h4>"Auswertungen dauern nur noch 1/2 so lange."</h4>
                            <p>Für die Kundenauswertungen nutze Ich täglich Excel mit vielen Verknüpfungen. <br>
                                Dank IQSheets spare ich immens Zeit indem ich mir sekundenschnell die passende Formel erstellen lasse.
                            </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="textimonial-img mb-2">
                            <img src="static/img/testi2.png" alt="">
                        </div>
                        <div class="textimonial-cap">
                            <h6>Tim, Team Lead Außendienst</h6>
                            <h4>"Fokus auf wichtige Dinge"</h4>
                            <p>Dank der App verschwende ich meine Zeit nicht mehr in Auswertungen <br>in Google Sheets,
                                sondern kann mich darauf konzentrieren, <br> das Verkaufstalent meiner MAs zu entwickeln.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="single-customer mb-100">
                            <div class="textimonial-img mb-2">
                                <img src="static/img/testi3.png" alt="">
                            </div>
                            <div class="textimonial-cap">
                                <h6>Marco, Buchhalter</h6>
                                <h4>"Täglich im Einsatz"</h4>
                                <p>Als Buchhalter ist die Arbeit in Excel Alltag. <br> 
                                    IQSheets erleichtert mir diesen, wenn ich mal wieder eine Formel suche, oder
                                    <br> eine neue Spreadsheet Vorlage brauche.
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-controls py-5">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>   
    <!-- Our Customer End -->

    <!-- Say Something Start -->
    <section class="newsletter mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4">
                        <div class="say-something-cap">
                            <h2>Melde Dich <span style="font-style:italic">jetzt</span> zu unserem Newsletter an.</h2>
                        </div>
                        <img src="static/img/say-shape-right.png">
                </div>
                <div class="col-xl-4 col-lg-3">
                    
                    <form method="POST" action="{{url_for('core.newsletter')}}">
                            <div class="d-flex flex-row ms-3">
                                {{form_nl.email(class_="form-control", placeholder="Email-Adresse")}}
                                <div class="form-icon">
                                    <button type="submit" name="submit" id="newsletter-submit" class="p-2 btn btn-primary ms-2 px-3"><i class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>    
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- Say Something End -->
</main>
{% endblock %}
