<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IQSheets</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='app.css')}}"
      }}
    />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/e1f37d5ff7.js"
      crossorigin="anonymous"
    ></script>
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="wrapper">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a class="logo" href="{{url_for('dashboard.dashboard')}}" id="logo">
            <span class="iq me-1">IQ</span><span class="sheets">Sheets</span>
          </a>
        </div>
        <ul class="sidebar-nav">
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.dashboard')}}"><i class="fa-solid fa-gauge"></i>Dashboard</a>
          </li>
          <hr>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.prompter', prompt_type='formula')}}"><i class="fa-solid fa-square-root-variable"></i>Formeln</a>
          </li>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.prompter', prompt_type='skripte')}}"><i class="fa-solid fa-code"></i>Skripte</a>
          </li>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.prompter', prompt_type='sql')}}"><i class="fa-solid fa-database"></i>SQL</a>
          </li>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.prompter', prompt_type='regex')}}"><i class="fa-solid fa-wave-square"></i>RegEx</a>
          </li>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.favorites')}}"><i class="fa-solid fa-heart"></i>Favoriten</a>
          </li>
          <li class="nav-item my-2">
            <a href="{{url_for('dashboard.templates')}}"><i class="fa-solid fa-wallet"></i>Templates</a>
          </li>
        </ul>
        <div class="dropdown align-self-left user-menu text-center mx-5">
            <i class="fa-solid fa-circle-user fa-2xl my-2 py-2" id="usericon"></i>
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle mx-2" id="user-dropdown-toggle" 
              data-bs-toggle="dropdown" aria-expanded="false">
              {% if current_user.firstname and current_user.lastname %}
              <strong id="username">{{current_user.firstname}} {{current_user.lastname}}</strong>
              {% else %}
              <strong id="username">{{current_user.email}}</strong>
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="https://billing.stripe.com/p/login/test_28o3fw9S44IEfOE8ww" target="_blank">
                <i class="fa-solid fa-wallet fa-xs pe-2"></i>Zahlungen</a>
              </li>
              <li><a class="dropdown-item" href="{{url_for('user.edit_user')}}"><i class="fa-solid fa-gear fa-xs pe-2"></i>Einstellungen</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('user.logout')}}"><i class="fa-solid fa-right-from-bracket fa-xs pe-2"></i>Logout</a></li>
            </ul>
        </div>        
      </aside>

      <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid" style="padding-left:10px">
          <div class="navbar-header d-inline-block">
            <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa-solid fa-arrow-left fa-xl" id="toggle-icon"></i></a>
          </div>
          </div>
          <hr>
        </nav>
      </div>

      {% block content %}
      {% endblock %}
    
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- JS file -->
    <script src="{{url_for('static', filename='main.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename='sidebar.js')}}" charset="utf-8"></script>
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>

</html>
