{% extends "index.html" %} {% block content %}
<main>
    <!-- Best Pricing Start -->
    <section class="pricing pt-5 pb-2" data-background="assets/img/gallery/best_pricingbg.jpg">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section-tittle section-tittle2 text-center">
                        <h2>Starte <span style="font-size: 38px;">kostenlos</span>. Upgrade zu <span style="font-size: 38px;">Premium</span> unkompliziert.</h2>
                    </div>
                </div>
            </div>
        </div>
    <!-- Best Pricing End -->

    <!-- Pricing Card Start -->
        <div class="pricing-card-area py-5">
            <div class="container justify-content-center">
                <div class="row row-cols-1 row-cols-lg-3 mb-3 text-center justify-content-center">

                    <div class="col">
                        <div class="card mb-4 rounded-3 h-100 shadow-sm">
                            <div class="card-header py-3">
                                <h4>Starter</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">kostenlos</h1>
                                <ul class="list-unstyled my-3 py-3">
                                    <li class="py-1"><span style="font-size: 14px;">3 </span>Test KI Abfragen</li>
                                    <li class="py-1">Best Practices</li>
                                    <li class="py-1">Test Templates</li>
                                </ul>
                            </div>
                            <div class="card-bottom mb-3">
                                <a href="{{url_for('user.register')}}"><button class="btn btn-outline-primary w-100">Kostenlos testen</button></a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="card mb-4 rounded-3 h-100 shadow-sm">
                            <div class="card-header py-3">
                                <h4>Premium</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">4,99€ / mo </h1>
                                <ul class="list-unstyled my-3 py-3">
                                    <li class="py-1"><span style="font-style: oblique;">unbegrenzt </span>KI Abfragen</li>
                                    <li class="py-1">Best Practices</li>
                                    <li class="py-1">Alle Templates</li>
                                    <li class="py-1">Support</li>
                                </ul>
                            </div>
                            <div class="card-bottom mb-3">
                                <a href="{{url_for('user.register')}}"><button class="btn btn-primary py-3 w-100">Loslegen</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->

    <!-- FAQs Start -->
    <section class="FAQs mb-5 pb-5" id="FAQs">
        <div class="container my-5 py-5">

            <div class="row justify-content-Center my-3 pb-5">
                <div class="text-center">
                    <h1>FAQ's</h1>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item my-2">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Was ist eine Excel-Formel und warum sollte ich sie verwenden?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Eine Excel-Formel ist eine mathematische Funktion, die dazu dient, 
                            Berechnungen in einer Excel-Tabelle durchzuführen. Sie können beispielsweise Formeln verwenden, 
                            um Summen zu berechnen, Daten zu sortieren oder Diagramme zu erstellen. Durch die Verwendung von 
                            Formeln können Sie komplexe Aufgaben automatisieren und Zeit sparen.
                        </div>
                      </div>
                    </div> 
                    <div class="accordion-item my-2">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Wie funktioniert die IQ-Sheets?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            IQSheets ermöglicht es Dir, Formeln einfach und schnell zu erstellen, indem Sie eine intuitive 
                            Benutzeroberfläche verwenden. Sie können aus einer Vielzahl von Formeln auswählen oder eigene Formeln erstellen, 
                            indem Sie die erforderlichen Funktionen auswählen und miteinander verknüpfen. Die App zeigt Ihnen auch, 
                            wie Ihre Formeln aussehen und was sie tun.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item my-2">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Kann ich die von der App erstellten Formeln in meiner eigenen Excel-Datei verwenden?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Ja, Sie können die von der App erstellten Formeln einfach kopieren und in Ihre eigene Excel-Tabelle einfügen. 
                            Die Formeln sind vollständig kompatibel mit Excel und können von Ihnen angepasst werden, um Ihren spezifischen 
                            Anforderungen gerecht zu werden.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item my-2">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Was passiert, wenn ich eine Frage zu einer Formel habe, die ich erstellt habe?
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            Die App bietet eine umfangreiche Hilfe- und Support-Dokumentation, in der Sie Antworten auf viele Fragen finden können. 
                            Wenn Sie jedoch eine spezifische Frage haben oder weitere Hilfe benötigen, können Sie jederzeit den Kundensupport kontaktieren.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item my-2">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Was bringt mir das Premium-Abo und wie lange läuft dieses?
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Mit dem Premium-Abo erhalten Sie unbegrenzten Zugriff auf KI-Anfragen für die Erstellung und Erklärung von Formeln. 
                                Das Premium-Abo kann jederzeit gekündigt werden. 
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
    </section>
    <!-- FAQs End --> 

    <!-- Say Something Start -->
    <section class="newsletter mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4">
                        <div class="say-something-cap">
                            <h2>Melde Dich <span style="font-style:italic">jetzt</span> zu unserem Newsletter an.</h2>
                        </div>
                        <img src="static/img/say-shape-right.png">
                </div>
                <div class="col-xl-4 col-lg-3">
                    
                    <form method="POST" action="{{url_for('core.newsletter')}}">
                            <div class="d-flex flex-row ms-3">
                                {{form_nl.email(class_="form-control", placeholder="Email-Adresse")}}
                                <div class="form-icon">
                                    <button type="submit" name="submit" id="newsletter-submit" class="p-2 btn btn-primary ms-2 px-3"><i class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>    
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- Say Something End -->
</main>
{% endblock %}