<!DOCTYPE html>
<html>
<head>
<title>Anmeldebestätigung</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #f4f4f4; padding: 20px;">
  <div style="max-width: 600px; margin: auto; background: #fff; padding: 0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div style="background-color: rgba(0, 128, 96, 0.2); padding: 10px 20px; border-top-left-radius: 8px; border-top-right-radius: 8px;">
        <h1 style="color: #005c45; text-align: center;">Willkommen bei <span style="background-color:#005c45;color:#fff;padding: 12px; border-radius:50px; margin-right:0px">IQ</span>
            Sheets
        </h1>
    </div>
    <div style="padding: 20px;">
        <p>Hallo {{ user.email }},</p>
        <br>
        <p>Wlicke bitte auf folgenden Link, um Dein Passwortzurückszusetzen:
        </p>
        <br>
        <a href="{{ confirm_url }}">{{ confirm_url }}</a>
        <br>
        <br>
        <p>Viel Spaß!</p>
        <p>Beste Grüße,<br><br> Dein IQSheets Team</p>
    </div>
  </div>
</body>
</html>