/* Google Font Import - Poppins */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@500&display=swap');

:root {
  --bs-blue: #334AC0;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #692340;
  --bs-orange: #fd7e14;
  --bs-yellow: #F1B980;
  --bs-green: #008060;
  --bs-teal: #077C76;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #8C98A4;
  --bs-gray-dark: #51596C;
  --bs-gray-100: #F9FAFC;
  --bs-gray-200: #F8FAFD;
  --bs-gray-300: #E7EAF3;
  --bs-gray-400: #BDC5D1;
  --bs-gray-500: #97A4AF;
  --bs-gray-600: #8C98A4;
  --bs-gray-700: #677788;
  --bs-gray-800: #51596C;
  --bs-gray-900: #223B41;
  --bs-primary: #008060;
  --bs-secondary: #51596C;
  --bs-success: #077C76;
  --bs-info: #334AC0;
  --bs-warning: #F1B980;
  --bs-danger: #692340;
  --bs-light: #F9FAFC;
  --bs-dark: #00221C;
  --bs-primary-rgb: 0, 128, 96;
  --bs-secondary-rgb: 81, 89, 108;
  --bs-success-rgb: 7, 124, 118;
  --bs-info-rgb: 51, 74, 192;
  --bs-warning-rgb: 241, 185, 128;
  --bs-danger-rgb: 105, 35, 64;
  --bs-light-rgb: 249, 250, 252;
  --bs-dark-rgb: 0, 34, 28;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 81, 89, 108;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: 'Albert Sans', sans-serif;
  --bs-font-monospace: 'Barlow Condensed', sans-serif;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Roboto, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #51596C;
  --bs-body-bg: #fff;
  --bs-border-width: 0.0625rem;
  --bs-border-style: solid;
  --bs-border-color: rgba(0, 34, 28, 0.1);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.3125rem;
  --bs-border-radius-sm: 0.125rem;
  --bs-border-radius-lg: 0.3125rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 6.1875rem;
  --bs-link-color: #008060;
  --bs-link-color-hover: rgba(0, 128, 96, 0.4);
  --bs-link-hover-color: #005c45;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fcf1e6;
  --bs-background-light: #E5F8F3;
  --bs-background-yellow: rgb(254,248,242);
  --bs-font-headings: font-family: 'Rubik', sans-serif;;
  --bs-body-font: font-family: 'Roboto Mono', monospace;
}

body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-link-color);
    text-align: left;
}

p { 
    color: var(--bs-body-color);
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: var(--bs-font-monospace);
      color: var(--bs-link-hover-color);
  }
  
  /* BTNs */
  a {
      text-decoration: none;
      color: var(--bs-body-color);
      transition: background 0.2s, color 0.2s;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  .btn-primary,
  .btn-primary:hover {
      background-color: var(--bs-link-color);
      border:none;
      border-radius: 5px;
      color: var(--bs-body-bg);
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
      background-color: var(--bs-link-hover-color);
  }
  
  .btn-secondary,
  .btn-secondary:hover {
      border: none;
      border-radius: 5px;
  }
  
  .btn-secondary {
      background-color: unset;
      color: var(--bs-link-color);
  }
  
  .btn-secondary:hover,
  .btn-secondary:active,
  .btn-secondary:focus {
      background-color: var(--bs-link-color-hover);
      color: var(--bs-link-hover-color);
  }

  .dashboard-cards:hover .card-body i {
    color: var(--bs-link-hover-color);
  }
  
  /* Flashmessages  */
  
  .alert-success {
      background-color: var(--bs-link-color);
      color: var(--bs-background-light);
  }

/* Sidebar */
  
  #wrapper {
    padding-left: 0;
    position: relative;
    transition: all 0.2s ease;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bs-link-hover-color);
    transition: all 0.2s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand .logo {
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
    padding: 10px 0;
  }

  .iq {
    background-color: var(--bs-background-light);
    border-radius: 50px;
    padding: 10px 10px;
    color: var(--bs-link-color);
    font-size: 24px;
    text-transform: capitalize;
    font-family: var(--bs-body-font);
  }

  .sheets {
      color: var(--bs-background-light);
      font-size: 28px;
      text-transform: capitalize;
      font-family: var(--bs-body-heading-font);
  }
  
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 65px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > li {
    text-indent: 8px;
    line-height: 42px;
  }
  .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: var(--bs-background-light);
    font-weight: 600;
    font-size: 18px;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: var(--bs-warning);
    background: var(--bs-link-color-hover);
  }

  .sidebar-nav > li > a i.fa,
  .sidebar-nav > li > a i.fa-solid {
    font-size: 24px;
    width: 60px;
  }

  nav .navbar .navbar-inverse {
   padding-top: 0px;
   padding-bottom: 0px;
  }

  .user-menu {
    position: absolute;
    left: 50%;
    bottom: 20px; /* Adjust as necessary to position above the username */
    transform: translateX(-52%); /* Center the menu horizontally */
    width: 100%; /* Adjust the width as needed */
    /* Additional styling for user-menu */
  }

  .user-menu .dropdown-menu{
    background-color: var(--bs-link-hover-color);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-100%); /* Center the dropdown and move it above the user-menu */
    width: auto; /* Adjust the width as needed */
    /* Additional styling for dropdown-menu */
  }

  .user-menu .dropdown-item:hover{
    color: var(--bs-warning);
    background: var(--bs-link-color-hover);
  }

  .user-menu a{
    color: var(--bs-background-light);
  }

  #username{
    color: var(--bs-background-light);
    font-size: 14px;
    word-break: break-word;
  }
  
  #navbar-wrapper {
      width: 100%;
      position: absolute;
      z-index: 1;
      padding-top: 0px;
  }

  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
      padding-top: 0px;
  }

  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 0px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: var(--bs-link-hover-color);
    background-color: var(--bs-link-color-hover);
    padding: 5px 10px;
    border-radius: 50px;
  }
  #navbar-wrapper .navbar a:hover {
    color: var(--bs-warning);
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 5px;
    top: 5px;
  }
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  .dropdown-toggle .toggle-hide {
    display: none; /* Hide elements when sidebar is toggled */
  }

  #sidebar-toggle {
    position: fixed;
  }

  #usericon {
    color: #fff;
  }

  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }

/* Content */

.content {
    background-color: var(--bs-body-background);
}

/* Dashboard  */

.welcome-msg {
    color: var(--bs-body-color);
}

.dashboard-info .card {
  background: var(--bs-link-hover-color);
  color: var(--bs-background-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.dashboard-info .card:hover {
  /* Set the box-shadow style for when the card is hovered */
  box-shadow: 0 10px 18px var(--bs-link-color-hover); /* Adjust the values as needed */
}

.dashboard-info .card-header {
  border-bottom: none;
}

.dashboard-info .card-header p {
  color: var(--bs-background-light);
  font-size: 16px;
}

/* CSS rule that applies to medium screens (md) or smaller */
@media (max-width: 767.98px) {
  .number-card {
      margin-bottom: 5px;
      margin-top: 5px; /* Example margin value, adjust as needed */
  }
}

@media (max-width: 767.98px) {
  #dashboard-card-text {
      display: none;
  }
}

.dashboard-info .card-body p {
  color: var(--bs-background-light);
  font-size: 28px;
}

.heading {
    padding-top: 15px;
    border-bottom: 1px solid var(--bs-link-color);
}

.dashboard-card a {
    all: unset;
}

.dashboard-card {
    /* Set your initial box-shadow style here */
    border-color: var(--bs-link-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.dashboard-card:hover {
    /* Set the box-shadow style for when the card is hovered */
    box-shadow: 0 6px 12px var(--bs-link-color-hover); /* Adjust the values as needed */
}

.custom-link,
.custom-link:hover {
    text-decoration: none; /* Remove default underline for anchor */
    color: inherit; /* Inherit text color from the parent */
  }

/* Formel-Components */
.generator-card label {
    color: var(--bs-body-color);
}

.generator-card {
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .result-card {
      margin-top: 5px; /* Example margin value, adjust as needed */
  }
}

.form-input {
    border: 1px solid var(--bs-link-color-hover);
    border-radius: 15px;
}

.form-input-text {
    border: 1px solid var(--bs-link-color-hover);
    border-radius: 15px;
}

.form-input-text:focus-visible {
    border: 1px solid var(--bs-link-color);
    border-radius: 15px;
}

.form-input:hover {
    border: 2px solid var(--bs-link-color);
    background-color: var(--bs-link-color-hover);
}

.form-input label {
    padding-left: 1rem;
}

.form-input input[type='radio'] {
    margin-left: 1rem;
}

.form-input input[type='radio']:hover {
    box-shadow: 0 6px 12px var(--bs-link-color-hover);
}

.form-input input[type='radio']:checked:hover {
    box-shadow: 0 6px 12px var(--bs-link-color-hover);
    accent-color: var(--bs-link-hover-color);
}

.form-input input[type='radio']:checked{
    accent-color: var(--bs-link-hover-color);
}

.result .card {
  border-color: var(--bs-link-hover-color);
  min-height: 20vh;
}

#copy-btn {
  border: 1px solid var(--bs-link-color);
}

#favoritebtn {
  background: var(--bs-link-hover-color);
  border: 1px solid var(--bs-link-hover-color);
  color: var(--bs-background-light);
}

#wrongbtn {
  background-color: var(--bs-warning);
}

#favoritebtn:hover {
  color: var(--bs-warning);
}

/* Favorites */

.favorite-cards {
  min-height: 70vh;
}

#filter-btn {
  border: 1px solid var(--bs-link-hover-color);
}

.favorite-cards .card {
  border: 1px solid var(--bs-link-hover-color);
  display: flex;
  flex-direction: column;
  height: 100%; /* Make card fill parent's height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.favorite-cards .card:hover {
  box-shadow: 0 12px 18px var(--bs-link-color-hover); /* Adjust the values as needed */
}

.favorite-cards .card-body {
  flex-grow: 1;
}

.favorite-cards .card-footer {
  background-color: transparent;
  border-top: none;
}

.favorite-cards .card-header {
  background-color: var(--bs-background-yellow);
  border-bottom: 1px solid var(--bs-link-hover-color);
}

#badge-icon {
  color: var(--bs-link-hover-color);
}

.badge {
  font-size: 13px;
  padding: 10px 20px;
}

.favorite-cards #Formula {
  background-color: var(--bs-primary);
}

.favorite-cards #Skripte {
  background-color: var(--bs-link-hover-color);
}

.favorite-cards #Sql {
  background-color: var(--bs-success);
}

.favorite-cards #Regex {
  background-color: var(--bs-green);
}

.favorite-cards #Erstellen {
  background-color: var(--bs-background-yellow);
  border: 0.5px solid var(--bs-link-hover-color);
  color: var(--bs-link-hover-color);
}

.favorite-cards #Erklären {
  background-color: var(--bs-background-yellow);
  border: 0.5px solid var(--bs-link-hover-color);
  color: var(--bs-link-hover-color);
}

#favorite-date {
  background-color: var(--bs-gray-500);
}

#prompt-input {
  background-color: red;
} 

#copy-target {
  background-color: var(--bs-link-color-hover);
  border: 1px solid var(--bs-link-color);
  border-radius:  10px;
}

/* TEMPLATES  */

.templates .card {
  border: 1px solid var(--bs-link-color-hover);
}

/* SETTINGS */

.settings .card .btn-secondary {
  border: 2px solid var(--bs-link-color-hover);
}

.btn-secondary.active {
  background-color: var(--bs-link-color-hover);
  color: var(--bs-link-color)
}