/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #87B1AC;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #19184D;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

main {
    font-family: 'Poppins';
    color: #19184D;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', cursive;
    color: #19184D;
}

/* ===== Btns ===== */
.btn-primary {
	background-color: var(--primary-color);
	border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: var(--primary-color);
	box-shadow: none;
}

.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-family: 'Poppins';
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
	box-shadow: none;
}


/* Navbar */
nav {
    border-bottom: solid 1px var(--primary-color);
}

#logo-iq {
    color: var(--primary-color);
    font-size: 28px;
}

.navbar a {
    color: #30444f;
    font-family: 'Poppins', saserif;
    text-decoration: none;
}

.navbar li a:hover{
    text-decoration: underline;
    color: #30444f;
}

.navbar .navbar-toggler {
    background-color: var(--primary-color);
    
}

.navbar span .navbar-toggler-icon {
    display: flex;
    justify-content: center;
}

.navbar-toggler-icon i {
    color: #fff;
}

/* Video */

.app-pictures video {
    border: 2px solid var(--primary-color);
}

/* Features */
.features {
    background-color: #87B1AC;
}

.features .card{
    background-color: #87B1AC;
}

.features-icon:hover i {
    color: #30444f;
  }

.features .card-header h3:hover {
    text-decoration: underline;
}

.features .card-header i:hover {
    color:#3a515e;
}

/* services */

.service-area .services-caption-active {
    border: 1px solid;
    border-color:#30444f;
    border-radius: 10px;
}

.service-area .services-caption:hover {
    border: 1px solid;
    border-color:#30444f;
    border-radius: 10px;
}

.service-area i {
    background-color: #87B1AC;
    color: #fff;
    padding: 25px 25px;
    border-radius: 5px 20px 5px;
}

/* App */

.app-pictures {
    background-color: #87B1AC;
}

video {
    max-width: 70%;
    height: auto;
  }
  
  @media screen and (min-width: 768px) {
    .d-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

/* Pricing */
.pricing .row .col {
    margin: 10px 50px;
    padding: 0 10px;
}

.pricing .card {
    border: 1px solid;
    border-color: var(--primary-color);
}

.pricing .card .card-header {
    background-color: var(--primary-color);
}

.pricing .card-bottom {
    margin: 20px;
}

/* Testimonials */

.testimonials {
    background-color: #87B1AC;
}

/* FAQs */
.FAQs {
    background-color: var(--primary-color);
}

.FAQs .accordion-header .collapsed {
    border:1px var(--toggle-color) solid;
}

.FAQs .accordion-header .collapsed {
    background-color: var(--primary-color);
    color: #fff;
    font-style: italic;
}

.FAQs #accordionFlushExample .accordion-header:not(.show) {
    background-color: var(--primary-color);
    color: #fff;
    font-style: italic;
}

.FAQs #accordionFlushExample.accordion-button::before {
    color: #FFF;
  }

.FAQs #accordionFlushExample .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--primary-color);
    font-style: italic;
}

.FAQs #accordionFlushExample .accordion-body:not(.show) {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px var(--toggle-color) solid;
}

/* Newsletter */

/* Footer */
footer {
    border-top: 1px solid var(--primary-color);
}

footer ul {
    list-style-type: none;
}

footer ul a {
    color: var(--text-color);
    text-decoration: none;
}

footer ul a:hover {
    text-decoration: underline;
}

/* Register */

.signup-form .social-signup i {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 30px;
}

#google:hover {
    color: #fff;
    background-color: var(--primary-color);
}

#linkedin:hover {
    color: #fff;
    background-color: var(--primary-color);
}

#facebook:hover {
    color: #fff;
    background-color: var(--primary-color);
}