{% extends "layout.html" %}{% block content %}
	<section class="home">
		<section class="dashboard">
			<div class="container-fluid pt-5 ps-5">
				<div class="banner col-xl-11 mb-5">
					<h1>Nur noch 1 von 5 gratis Prompts verfügbar</h1>
					<button class="btn btn-primary premium-btn"><i class='bx bx-diamond icon'></i>Premium</button>
				</div>

				<div class="prompt mt-3">
					<div class="row align-items start">
						<form method="POST">
							{{form.hidden_tag()}}
							<div class="row mb-4">
								{{form.excel_google.label(id=("prompt-header"))}}
							</div>
							<div class="d-flex flex-row align-items-start">
								<div class="p-2 select" role="group">
									{{form.excel_google()}}
								</div>
								<div class="p-2 select" role="group">
									{{form.info_prompt()}}
								</div>
							</div>
	
					<div class="row d-flex mt-5">
						<div class="col-xl-4 col-lg-4 col-md-3 prompt">
							<div class="row">
								{{form.prompt(class="form-control", placeholder="Schreibe mir eine Formel die zwei Zellen summiert z.B.")}}
							</div>
							<div class="row justify-content-end">
								{{form.submit(class="btn btn-primary mt-2 col-lg-5", id="formel-btn")}}
							</div>
							
						</form>
				</div>
					
					{% if formula %}
					<div class="col-xl-3 col-lg-3 col-md-3 pl-5 formula">
						<div class="card">
							<div class="card-header">
							  Formel
							</div>
							<div class="card-body p-3">
								<div class="row">
									<p>{{formula}}</p>
								</div>
								<div class="row d-flex justify-content-end">
									<form method="POST" action="{{url_for('dashboard.add_favorite')}}">
										{{form.hidden_tag()}}
										{{form.submit(class="p-2 btn btn-primary col-lg-1 me-2", id="favorite-btn")}}
										<!-- <button class="p-2 btn btn-primary col-lg-1 me-2" id="favorite-btn"><i class="fa-regular fa-heart"></i></button> -->
									</form>
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-xl-4 col-lg-4 col-md-3 pl-4 response">
						<div class="card">
							<div class="card-header p-3">
							  Erklärung
							</div>
							<div class="card-body p-3">
								<div class="row">
									<p>{{answer}}</p>
								</div>
								<div class="row d-flex justify-content-end">
									<form method="POST" action="{{url_for('dashboard.add_favorite')}}">
										{{form_2.hidden_tag()}}
										{{form_2.favorite_type(value=form.excel_google.data)}}
										{{form_2.favorite_method(value=form.info_prompt.data)}}
										{{form_2.command(value=form.prompt.data)}}
										{{form_2.prompt(value=answer)}}
										{{form_2.submit(class="p-2 btn btn-primary col-lg-1 me-2", id="favorite-btn")}}
										<!-- <button class="p-2 btn btn-primary col-lg-1 me-2" id="favorite-btn"><i class="fa-regular fa-heart"></i></button> -->
									</form>
								</div>
							</div>
							
						</div>
					</div>

					{% else %}

					<div class="col-xl-7 col-lg-4 col-md-3 pl-4 response">
						<div class="card">
							<div class="card-header">
							  Vorschlag
							</div>
							<div class="card-body p-3">
								<div class="row">
									<p>{{answer}}</p>
								</div>
								<div class="row d-flex justify-content-end">
									<form method="POST" action="{{url_for('dashboard.add_favorite')}}">
										{{form_2.hidden_tag()}}
										{{form_2.favorite_type(value=form.excel_google.data)}}
										{{form_2.favorite_method(value=form.info_prompt.data)}}
										{{form_2.command(value=form.prompt.data)}}
										{{form_2.prompt(value=answer)}}
										{{form_2.submit(class="p-2 btn btn-primary col-lg-1 me-2", id="favorite-btn")}}
										<!-- <button class="p-2 btn btn-primary col-lg-1 me-2" id="favorite-btn"><i class="fa-regular fa-heart"></i></button> -->
									</form>
								</div>
							</div>
						</div>
					</div>	
					
					{% endif %}
	
					</div>
				</div>

			</div>
		</section>
	</section>
{% endblock %}