{% extends "layout.html" %}{% block content %}
	<section class="home">
		<section class="dashboard ms-3">
			<div class="container-fluid mt-3">

			{% if not current_user.premium %}
				<div class="d-flex flex-row my-5 premium-banner">
					<div class="banner col-xl-6 text-center me-4">
						<h3>{{current_user.num_prompts}} von 5 Gratis KI-Anfragen verbaucht</h3>
					</div>
					<div class="banner col-xl-3 text-center mx-3" id="premium-div">
						<a href="{{url_for('dashboard.premium')}}">
							<button class="btn btn-primary" id="premium-btn">
								<i class='bx bx-diamond icon pe-3'></i>
									Premium
							</button>
						</a>
					</div>				
				</div>
			{% endif %}

				<div class="explanation col-xl-11 mb-5">
					<h5>
						Konvertieren Sie jede Textanforderung in Excel- oder Google Sheets-Formeln 
						mit unserer AI.
					</h5>
					<h5>
						Geben Sie eine detaillierte Beschreibung des Befehls ein, 
						den Sie benötigen und unsere KI wird sie innerhalb von Sekunden erstellen.
					</h5>
					
					<p class="pt-5">
						*Wenn Sie falsche Ergebnisse erhalten, melden Sie diese bitte, 
						damit wir unser KI-Modell verbessern können.
					</p>
					<hr>
				</div>
				
				{% if current_user.premium or current_user.num_prompts < 5%}
					<!-- Prompt Field -->
					<div class="d-flex flex-row justify-content-start">
						<div class="col">
							<form method="POST" action="{{url_for('dashboard.formel')}}" id="formula-form">
								{{form.hidden_tag()}}
								{{form.excel_google(class_="select py-1 ps-2", role_="group")}}
								{{form.info_prompt(class_="select py-1 ps-2 pe-5 ms-3", role_="group")}}
								{{form.formula_explain(class_="select py-1 ps-2 pe-5 ms-3", role_="group")}}
						</div>
					</div>

					<div class="row request-prompt mt-5">
						<div class="col-xl-5 col-sm-12 me-xl-5 my-xl-0 my-sm-5 prompt">
								{{form.prompt(class="form-control", placeholder="Schreibe mir eine Formel die zwei Zellen summiert z.B.")}}	
								{{form.submit(class="btn btn-primary float-end col-4 mt-3", id="formel-btn")}}
							</form>
						</div>

						{% if form.formula_explain.data == "Erklären" %}
						<!-- Erklärung -->
						<div class="col-xl-6 col-sm-12 my-xl-0 my-sm-3 formula">
							<div class="card">
								<div class="card-header">
							  		Erklärung
								</div>
								<div class="card-body p-3">
									<div class="row">
										<p id="copy-target">{{explanation}}</p>
									</div>
									<div class="d-flex flex-row">
									<form method="POST" action="{{url_for('dashboard.prompt_feedback', prompt_id=prompt.id)}}">
										<button class="p-2 btn btn-primary me-5 align-items-center" name="favorite-btn" value="favorite-prompt" id="favorite-btn">
											<i class="fa-regular fa-heart ps-2 pe-1"></i> Favorit
										</button>
										<button class="p-2 btn btn-success px-3" name="correct-btn" value="correct-response" id="incorrect-btn">
											<i class="fa-solid fa-check pe-2"></i> Richtig
										</button>
										<button class="p-2 btn btn-danger px-3" name="incorrect-btn" value="incorrect-response" id="incorrect-btn">
											<i class="fa-solid fa-circle-xmark pe-2"></i> Falsch
										</button>
									</form>
										<button class="p-2 btn btn-outline-primary px-3 me-2" onclick="copyToClipboard()" id="copy-btn">
											<i class="fa-solid fa-copy pe-2"></i> Kopieren
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Erklärung End -->

					{% elif form.formula_explain.data == "Erstellen" %}
					<!-- Formel -->
						<div class="col-xl-6 col-sm-12 my-xl-0 my-sm-3 formula">
							<div class="card">
								<div class="card-header">
									Formel
								</div>
								<div class="card-body p-3">
									<div class="row">
										<p id="copy-target">{{formula}}</p>
									</div>
									<hr>
									<div class="d-flex flex-row">
										<form method="POST" action="{{url_for('dashboard.favorite', prompt_id=prompt.id)}}">
											<button class="p-2 btn btn-primary me-5 align-items-center" name="favorite-btn" value="favorite-prompt" id="favorite-btn">
												<i class="fa-regular fa-heart ps-2 pe-1"></i> Favorit
											</button>
										</form>
										<form method="POST" action="{{url_for('dashboard.positive_feedback', prompt_id=prompt.id)}}">
											<button class="p-2 btn btn-success px-3" name="correct-btn" value="correct-response" id="incorrect-btn">
												<i class="fa-solid fa-check pe-2"></i> Richtig
											</button>
										</form>
										<form method="POST" action="{{url_for('dashboard.negative_feedback', prompt_id=prompt.id)}}">
											<button class="p-2 btn btn-danger px-3" name="incorrect-btn" value="incorrect-response" id="incorrect-btn">
												<i class="fa-solid fa-circle-xmark pe-2"></i> Falsch
											</button>
										</form>
											<button class="p-2 btn btn-outline-primary px-3 me-2" onclick="copyToClipboard()" id="copy-btn">
												<i class="fa-solid fa-copy pe-2"></i> Kopieren
											</button>
									</div>
								</div>
							</div>
						</div>	
					<!-- Formel End-->	
					
					{% else %}
						<!-- Unsubmitted -->
						<div class="col-xl-6 col-sm-12 my-xl-0 my-sm-2 formula">
							<div class="card">
								<div class="card-header">
								Formel / Erklärung
								</div>
								<div class="card-body p-3">
									<div class="row">
										<p>Lass dir eine Formel erstellen oder Erklären.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Unsubmitted End-->

					{% endif %}

					</div>
						
					<!-- Prompt Field End-->

					
								
							</div>
						<div>
					</div>

				{% else %}

				<div class="banner col-xl-10 mb-5">
					<h3>Keine Anfragen mehr übrig</h3>
					<button class="btn btn-primary premium-btn"><i class='bx bx-diamond icon'></i>Premium</button>
				</div>

				{% endif %}
						
					</div>
				</div>
		</section>
	</section>
{% endblock %}