{% extends "layout.html" %}{% block content %}
<section class="favorites">
	<div class="container-fluid mt-3 align-items-left">
		
		<div class="favorite-btns pt-3 mb-2">
			<div class="row align-items-start">
				<form method="POST">
					<button class="btn btn-secondary me-1" id="filter-btn" type="submit" name="filter_value" value="Alle">Alle</button>
					{% for type in prompt_types %}
					<button class="btn btn-secondary me-1" id="filter-btn" type="submit" name="filter_value" value="{{type.capitalize()}}">{{type.capitalize()}}</button>
					{% endfor %}	
				</form>
			</div>
		</div>
		
		<div class="favorite-cards">
			<div class="row">
				{% for formula in favorite_formulas %}
				<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 py-2 response">
					<div class="card">
						<div class="card-header py-4">
							{% if formula.prompt_type == "Formula" %}
								<i class="fa-solid fa-square-root-variable fa-xl" id="badge-icon"></i>
							{% elif formula.prompt_type == "Skripte" %}
								<i class="fa-solid fa-code fa-xl" id="badge-icon"></i>
							{% elif formula.prompt_type == "Sql" %}
								<i class="fa-solid fa-database fa-xl" id="badge-icon"></i>
							{% else %}
								<i class="fa-solid fa-wave-square fa-xl" id="badge-icon"></i>
							{% endif %}
							<span class="badge rounded-pill shadow-lg ms-3" id={{formula.prompt_type}}>{{formula.prompt_type}}</span>
							<span class="badge rounded-pill" id={{formula.category}}>{{formula.category}}</span>
							{% set days_diff = (today-formula.created_at).days %}
							{% if days_diff >= 1 %}
								<span class="badge rounded-pill float-end" id="favorite-date"><i class="fa-regular fa-clock fa-rotate-180 pe-1"></i>
									{{days_diff}} d
								</span>
							{% else %}
							{% set hours_diff = ((today-formula.created_at).total_seconds() / 3600) | round %}	
								<span class="badge rounded-pill float-end" id="favorite-date"><i class="fa-regular fa-clock fa-rotate-180 pe-1"></i>
									{{hours_diff}} h
								</span>
							{% endif %}
						</div>
						<div class="card-body mx-1">
							<div class="row user-input">
								<div class="col-1 me-3">
									<i class="fa-solid fa-circle-user fa-2xl" id="usericon"></i>
								</div>
								<div class="col-10">
									<p id="prompt-input">{{formula.prompt}}</p>
								</div>
							</div>
							<div class="row ki-output mt-3">
								<div class="col-1 me-3">
									<i class="fa-regular fa-lightbulb fa-2xl" id="result-icon"></i>
								</div>
								<div class="col-10">
									<div id="displayText-{{ formula.id }}" class="collapse show">
										{{ formula.result[:100] }}
										<a href="#fullText-{{ formula.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="fullText-{{ formula.id }}" onclick="toggleText('{{ formula.id }}')">
											<i class="fa-solid fa-caret-down ps-2"></i>
										</a>
									</div>
									<div id="fullText-{{ formula.id }}" class="collapse">
										<p class="" id="copy-target">
											{{ formula.result }}
											<a href="#fullText-{{ formula.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="fullText-{{ formula.id }}" onclick="toggleText('{{ formula.id }}')">
												<i class="fa-solid fa-caret-up ps-2"></i>
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="card-footer">
							<div class="d-flex justify-content-end gap-1">
								<button class="btn btn-secondary px-3" id="copy-btn" onclick="copyToClipboard()">
									<i class="fa-solid fa-copy pe-2"></i>Kopieren
								</button>	
								<a href="{{url_for('dashboard.delete_favorite', favorite_id=formula.id)}}" class="">
									<button class="btn btn-danger px-3" id="incorrect-btn">
										<i class="fa-solid fa-trash"></i>
									</button>
								</a>
							</div>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- Pagination Links-->
		<div class="pagination justify-content-end me-4">
			<div class="row pagination mt-3">
				<div class="text-right">
					{% if favorite_formulas.page != 1 %}
						<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=favorite_formulas.prev_num) }}"
						class="btn btn-secondary
						{% if favorite_formulas.page == 1 %}disabled{% endif %}">
							&laquo;
						</a>
					{% endif %}
				<!-- Loop through the number of pages to display a link for each-->
					{% for page_num in favorite_formulas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
						{% if page_num %}
						<!-- Check for the active page and set the link to "Active"-->
							{% if favorite_formulas.page == page_num %}
							<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=page_num) }}"
							class="btn btn-primary">
								{{ page_num }}
							</a>
							{% else %}
							<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=page_num) }}"
							class="btn btn-outline-primary">
								{{ page_num }}
							</a>
							{% endif %}
						{% else %}
							...
						{% endif %}
					{% endfor %}
					{% if favorite_formulas.page != favorite_formulas.pages %}
						<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=favorite_formulas.next_num) }}"
						class="btn btn-outline-primary
						{% if favorite_formulas.page == favorite_formulas.pages %}disabled{% endif %}">
							&raquo;
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		
	</div>
</section>		
{% endblock %}