{% extends "layout.html" %}{% block content %}
	<div class="heading mx-4 mt-3">
		<h3>AI RegEx Assistent</h3>
	</div>
	<div class="d-flex row generator-cards mt-3 mx-4">
        <div class="card generator-card shadow-lg col-lg-6 me-lg-4 col-xs-11">
            <div class="card-body p-4">
                <h4>Input</h4>
                <hr>
                <div class="py-2">
                    <form method="POST" action="{{url_for('dashboard.formel', prompt_type='regex')}}" id="formula-form">
                        {{form.hidden_tag()}}
                        <div class="row mt-2">
                            {{form.formula_explain.label(class_="pb-1")}}
                            {% for subfield in form.formula_explain %}
                                <div class="col-xs-12 col-md-5 form-input mt-3 mx-1 py-3"> <!-- Hier verwenden wir col-6 für zwei gleichbreite Spalten -->
                                    {{ subfield.label}}
                                    {{ subfield(id="checkbtn")}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-4">
                            {{form.prompt.label(class="mb-2")}}	
                            {{form.prompt(class="form-input-text p-2 mx-1")}}	
                        </div>
                        <div class="row mt-3">
                            {{form.submit(class="btn btn-primary w-100 mx-2 py-2")}}
                        </div>
                        <div class="best-practices mt-3 mb-2">
                            <a class="btn btn-secondary" id="best-practice-btn" data-bs-toggle="collapse" href="#collapseBestPractices" role="button" aria-expanded="false" aria-controls="collapseBestPractices">
                                Best Practices
                            </a>
                              <div class="collapse mt-3" id="collapseBestPractices">
                                <div class="card card-body">
                                    <table class="table bestpractices">
                                        <thead class="text-center">
                                          <tr>
                                            <th scope="col text-center"><i class="fa-regular fa-circle-check fa-xl pe-3"></i>DO's</th>
                                            <th scope="col text-center"><i class="fa-regular fa-circle-xmark fa-xl pe-3"></i>DONT's</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><strong>Sei Spezifisch:</strong> Gib genaue Details zu deiner Excel-Aufgabe an. Zum Beispiel, 
                                                ob du mit Formeln, Pivot-Tabellen, Datenvisualisierung oder speziellen Funktionen wie VLOOKUP 
                                                arbeitest.
                                            </td>
                                            <td><strong>Zu Vage Sein:</strong> 
                                                Vermeiden Sie allgemeine Anfragen ohne spezifische Details, wie „Hilf mir mit Excel“.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><strong>Definiere das Ziel Klar:</strong> 
                                                Erklären Sie, was das Endergebnis Ihrer Anfrage sein soll. Zum Beispiel: 
                                                „Ich möchte eine Liste von Mitarbeitern nach ihrem Gehalt sortieren“.
                                            </td>
                                            <td><strong>Überkomplizierte Anfragen:</strong>
                                                Vermeiden Sie extrem komplexe Anfragen, die besser in kleinere, handhabbare Teile aufgeteilt werden sollten.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><strong>Benutze Klare Beispiele:</strong>
                                                Wenn möglich, fügen Sie Beispiele oder Musterdaten hinzu, um Ihre Anfrage zu verdeutlichen.
                                            </td>
                                            <td><strong>Ignorieren von Datenschutzbestimmungen:</strong>
                                                Achten Sie darauf, keine sensiblen oder persönlichen Daten zu teilen, 
                                                wenn Sie Beispiele aus der realen Welt verwenden.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                              </div>  
                        </div>
                    </form>
                </div>
            </div>  
        </div>
        
        <div class="card result-card shadow-lg lg-ms-5 col-lg-5 col-xs-11">
            <div class="card-body p-4">
                <h4>Output</h4>
                <hr>
                    <div class="result">
                        <p>Hier steht deine Lösung:</p>
                        <div class="card">
                            <div class="card-body">
                                {% if formulas and answer %}
                                {{ formulas, answer }}
                                    {% for formula in formulas %}
                                        <div class="row mt-1 mb-2">
                                            <div class="col-10 formel p-3 shadow-lg py-1" >
                                                <p id="copy-target">{{formula}}</p>
                                            </div>
                                            <div class="col-1 ms-1">
                                                <button class="btn btn-secondary align-self-end" title="Kopieren" id="copy-btn" onclick="copyToClipboard()">
                                                    <i class="fa-solid fa-copy"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                
                                    <div class="row mt-3">
                                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseFullAnswer" role="button" aria-expanded="false" aria-controls="collapseFullAnswer">
                                            gesamte Antwort
                                        </a>
                                        <div class="collapse mt-2" id="collapseFullAnswer">
                                            <div class="card formel p-3 card-body p-1">
                                              {{answer}}
                                            </div>
                                        </div>  
                                    </div>
                                {% elif answer %}
                                    <div class="row">
                                        <div class="card formel p-3 card-body p-1">
                                            {{ answer }}
                                        </div> 
                                    </div>
                                {% else %}
                                    <p class="formel p-3" id="lorem">Noch keine Lösung vorhanden.</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-row mt-3">
                            {% if prompt_id %}
                            <a href="{{url_for('dashboard.prompt_favorite', prompt_id=prompt_id)}}">
                                <button class="p-2 me-2 btn btn-primary px-3 me-2" id="favoritebtn">
                                    <i class="fa-solid fa-heart pe-2"></i> Favorit
                                </button>	
                            </a>
                            <a href="{{url_for('dashboard.positive_prompt', prompt_id=prompt_id)}}">
                                <button class="p-2 me-2 btn btn-secondary px-3 me-2" id="correctbtn">
                                    <i class="fa-solid fa-check pe-2"></i></i> Richtig
                                </button>	
                            </a>
                            <a href="{{url_for('dashboard.negative_prompt', prompt_id=prompt_id)}}">
                                <button class="p-2 me-2 btn btn-secondary px-3 me-2" id="wrongbtn">
                                    <i class="fa-regular fa-circle-xmark pe-2"></i> Falsch
                                </button>	
                            </a>
                            <a href="{{url_for('dashboard.prompter', prompt_type='skripte')}}">
                                <button class="p-2 me-2 btn btn-secondary px-3 me-2">
                                    <i class="fa-regular fa-lightbulb pe-2"></i> Neue Formel
                                </button>	
                            </a>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>

    </div>
{% endblock %}