{% extends "layout.html" %}{% block content %}
	<div class="heading mx-4 mt-3">
		<h3>AI SQL Assistent</h3>
	</div>
	<div class="d-flex row generator-cards mt-3 mx-3">
        <div class="card generator-card shadow-lg col-lg-6 col-sm-12">
            <div class="card-body p-4">
                <h4>Input</h4>
                <hr>
                <div class="py-2">
                    <form method="POST" action="{{url_for('dashboard.formel', prompt_type='sql')}}" id="formula-form">
                        {{form.hidden_tag()}}
                        <div class="row mt-2">
                            {{form.formula_explain.label(class_="pb-1")}}
                            {% for subfield in form.formula_explain %}
                                <div class="col-5 form-input mt-3 mx-3 py-3"> <!-- Hier verwenden wir col-6 für zwei gleichbreite Spalten -->
                                    {{ subfield.label}}
                                    {{ subfield(id="checkbtn")}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-4">
                            {{form.prompt.label(class="mb-2")}}	
                            {{form.prompt(class="form-input-text p-2 mx-2")}}	
                        </div>
                            <input type="hidden" value="SQL">
                        <div class="row mt-3">
                            {{form.submit(class="btn btn-primary w-100 mx-2 py-2")}}
                        </div>
                        <div class="best-practices mt-3 mb-2">
                            <a class="btn btn-secondary" id="best-practice-btn" data-bs-toggle="collapse" href="#collapseBestPractices" role="button" aria-expanded="false" aria-controls="collapseBestPractices">
                                Best Practices
                            </a>
                              <div class="collapse mt-3" id="collapseBestPractices">
                                <div class="card card-body">
                                  sdsd
                                </div>
                              </div>  
                        </div>
                    </form>
                </div>
            </div> 
            
            
        </div>

        <div class="card result-card shadow-lg col-lg-5 col-sm-12">
            <div class="card-body p-4">
                <h4>Output</h4>
                <hr>
                    <div class="result">
                        <p>Hier steht deine Lösung:</p>
                        <div class="card">
                            <div class="card-body">
                                {%if formulas and answer %}
                                    {% for formula in formulas %}
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="formel fw-bold py-5" id="copy-target">{{formula}} <button class="btn btn-secondary align-self-end" id="copy-btn" onclick="copyToClipboard()">
                                                <i class="fa-solid fa-copy"></i>
                                            </button>
                                        </p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="row mt-2">
                                        <p class="d-inline-flex gap-1">
                                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseFullAnswer" role="button" aria-expanded="false" aria-controls="collapseFullAnswer">
                                              gesamte Antwort
                                            </a>
                                        </p>
                                          <div class="collapse" id="collapseFullAnswer">
                                            <div class="card card-body p-2">
                                              {{answer}}
                                            </div>
                                          </div>  
                                    </div>
                                {% else %}
                                    <p id="lorem">Noch keine Lösung vorhanden.</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-row mt-3">
                            {% if prompt_id %}
                            <a href="{{url_for('dashboard.prompt_favorite', prompt_id=prompt_id)}}">
                                <button class="p-2 me-2 btn btn-primary px-3 me-2" id="favoritebtn">
                                    <i class="fa-solid fa-heart pe-2"></i> Favorit
                                </button>	
                            </a>
                            <a href="{{url_for('dashboard.negative_feedback', prompt_id=prompt_id, prompt_type='formula')}}">
                                <button class="p-2 me-2 btn btn-secondary px-3 me-2" id="wrongbtn">
                                    <i class="fa-regular fa-circle-xmark pe-2"></i> Falsch
                                </button>	
                            </a>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}