{% extends "layout.html" %}{% block content %}
<section class="home">
  <section class="templates ms-3">
    <div class="container-fluid mt-3">
      <div class="favorite-btns mb-2">
        <div class="row align-items-start">
          <form method="POST">
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Alle">Alle</button>
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Excel">Excel</button>
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Google Sheets">Google Sheets</button>
          </form>
        </div>
      </div>

	  <!-- Templates -->
	  {% for template in templates %}
      <div class="templates-cards mt-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-3 pl-4 response">
              <div class="card" style="width: 18rem">
                <img
                  src="{{url_for('static', filename='img/spreadsheet-g1c355ce39_640.png' )}}"
                  class="card-img-top"
                  alt="Spreadsheet picture"
                />
                <div class="card-body">
                  <h5 class="card-title">{{template.template_name}}</h5>
				  <h6 class="card-tag">{{template.template_category}}</h5>
                  <p class="card-text">
                	{{template.template_description}}
				  </p>
					<div class="row justify-content-center">
						{% set s3_template_link = "https://" + template.bucket + ".s3." + template.region + ".amazonaws.com/templates/" + template.template_name %}
						<a href="{{s3_template_link}}"
						class="btn btn-primary col-10">Download</a>
					</div>
                </div>
              </div>
            </div>
          </div>
      </div>
	  {% endfor %}

      <!-- Pagination Links-->
				<div class="pagination justify-content-end me-4">
					<div class="row pagination mt-3">
						<div class="text-right">
							<a href="{{ url_for('dashboard.templates', page=templates.prev_num) }}"
							class="btn btn-outline-primary 
							{% if templates.page == 1 %}disabled{% endif %}">
								&laquo;
							</a>
						<!-- Loop through the number of pages to display a link for each-->
							{% for page_num in templates.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
								{% if page_num %}
								<!-- Check for the active page and set the link to "Active"-->
									{% if templates.page == page_num %}
									<a href="{{ url_for('dashboard.templates', page=page_num) }}"
									class="btn btn-primary">
										{{ page_num }}
									</a>
									{% else %}
									<a href="{{ url_for('dashboard.templates', page=page_num) }}"
									class="btn btn-outline-primary">
										{{ page_num }}
									</a>
									{% endif %}
								{% else %}
									...
								{% endif %}
							{% endfor %}
							<a href="{{ url_for('dashboard.templates', page=templates.next_num) }}"
							class="btn btn-outline-primary
							{% if templates.page == templates.pages %}disabled{% endif %}">
								&raquo;
							</a>
						</div>
					</div>
				</div>
        
      </div>
    </div>
  </section>
</section>
{% endblock %}
