{% extends "layout.html" %}{% block content %}
<section class="home">
  <section class="templates ms-3">
    <div class="container-fluid mt-3">
      <div class="favorite-btns mb-2">
        <div class="row align-items-start">
          <form method="POST">
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Alle">Alle</button>
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Excel">Excel</button>
            <button class="btn btn-outline-primary" id="filter-btn" type="submit" name="filter_value" value="Google Sheets">Google Sheets</button>
          </form>
        </div>
      </div>

      <div class="templates-cards mt-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-3 pl-4 response">
              <div class="card" style="width: 18rem">
                <img
                  src="{{url_for('static', filename='img/spreadsheet-g1c355ce39_640.png' )}}"
                  class="card-img-top"
                  alt="Spreadsheet picture"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
									<div class="row">
										<a href="{{url_for('dashboard.download')}}" class="btn btn-primary px-5">Download</a>
									</div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- Pagination Links-->
				<div class="pagination justify-content-end me-4">
					<div class="row pagination mt-3">
						<div class="text-right">
							<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=favorite_formulas.prev_num) }}"
							class="btn btn-outline-primary 
							{% if favorite_formulas.page == 1 %}disabled{% endif %}">
								&laquo;
							</a>
						<!-- Loop through the number of pages to display a link for each-->
							{% for page_num in favorite_formulas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
								{% if page_num %}
								<!-- Check for the active page and set the link to "Active"-->
									{% if favorite_formulas.page == page_num %}
									<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=page_num) }}"
									class="btn btn-primary">
										{{ page_num }}
									</a>
									{% else %}
									<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=page_num) }}"
									class="btn btn-outline-primary">
										{{ page_num }}
									</a>
									{% endif %}
								{% else %}
									...
								{% endif %}
							{% endfor %}
							<a href="{{ url_for('dashboard.favorites', username=current_user.username, page=favorite_formulas.next_num) }}"
							class="btn btn-outline-primary
							{% if favorite_formulas.page == favorite_formulas.pages %}disabled{% endif %}">
								&raquo;
							</a>
						</div>
					</div>
				</div>
        
      </div>
    </div>
  </section>
</section>
{% endblock %}
