{% extends "base.html" %} {% block content %}
<main>
    <!-- Best Pricing Start -->
    <section class="pricing py-5">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section-tittle text-center">
                        <h2>Wähle den für Dich passenden Plan.</h2>
                    </div>
                </div>
            </div>
        </div>
    <!-- Best Pricing End -->
    <!-- Pricing Card Start -->
        <div class="pricing-card-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <h4>Free</h4>
                            </div>
                            <div class="card-bottom">
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>E-mail support</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                    <li>monatlich kündbar</li>
                                </ul>
                                <button href="#" class="btn btn-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-card  text-center mb-30">
                            <div class="card-top">
                                <h4>Premium</h4>
                                <h4> 5€ <span>/ Monat</span></h4>
                            </div>
                            <div class="card-bottom">
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>E-mail support</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                    <li>monatlich kündbar</li>
                                </ul>
                                <button href="#" class="btn btn-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->

    <!-- Say Something Start -->
    <section class="newsletter">
        <div class="say-something-aera pt-90 pb-90 fix">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                        <div class="say-something-cap">
                            <h2>Say Hello To The Collaboration Hub.</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="say-btn">
                            <a href="#" class="btn radius-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shape -->
            <div class="say-shape">
                <img src="assets/img/shape/say-shape-left.png" alt="" class="say-shape1 rotateme d-none d-xl-block">
                <img src="assets/img/shape/say-shape-right.png" alt="" class="say-shape2 d-none d-lg-block">
            </div>
        </div>
    </section>
    <!-- Say Something End -->
 
</main>
{% endblock %}