{% extends 'admin/master.html' %}

{% block body %}

<h2>Customers</h2>
<table class="table">
  <thead>
    <th scope="col" class="me-2">Customer ID</th>
    <th scope="col" class="me-2">Customer Address</th>
    <th scope="col" class="me-2">Customer Email</th>
  </thead>
  <tbody>
    {% for customer in customers %}
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.address.country }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<hr>
<h2>Subscriptions</h2>
<table class="table">
  <thead>
    <th class="me-2">Stripe Subscription ID</th>
    <th class="me-2">Stripe Subscription Customer ID</th>
    <th class="me-2">Subscription created date</th>
    <th class="me-2">Subscription fee</th>
    <th class="me-2">Payment Cycle date start</th>
    <th class="me-2">Payment Cycle date end</th>
    <th class="me-2">Trial Start date</th>
    <th class="me-2">Trial End date</th>
    <th class="me-2">Cancelation daet</th>
    <th class="me-2">Trial End date</th>
    <th class="me-2">Status</th>
  </thead>
  <tbody>
    {% for subscription in subscriptions %}
      <tr>
        <td>{{subscription.id}}</td>
        <td>{{subscription.customer}}</td>
        <td>{{subscription.created}}</td>
        <td>{{subscription["items"]["data"][0]["price"]["unit_amount"]}}</td>
        <td>{{subscription.currrent_period_start}}</td>
        <td>{{subscription.currrent_period_end}}</td>
        <td>{{subscription.trial_start}}</td>
        <td>{{subscription.trial_end}}</td>
        <td>{{subscription.status}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{}}
{% endblock %}