{% extends 'admin/master.html' %}

{% block body %}

<h2>Customers</h2>
<table class="table">
  <thead>
    <th scope="col" class="me-2">Customer ID</th>
    <th scope="col" class="me-2">Customer Address</th>
    <th scope="col" class="me-2">Customer Email</th>
  </thead>
  <tbody>
    {% for customer in customers %}
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.address.country }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<hr>
<h2>Subscriptions</h2>
<table class="table">
  <thead>
    <th class="me-2">Stripe Customer ID</th>
    <th class="me-2">Stripe Subscription ID</th>
    <th class="me-2">Creation date</th>
    <th class="me-2">Status</th>
    <th class="me-2">Canceled</th>
    <th class="me-2">Current payment period START</th>
    <th class="me-2">Current payment period END</th>
    <th class="me-2">Trial START</th>
    <th class="me-2">Trial END</th>
  </thead>
  <tbody>
    {% if subscriptions %}
      {% for subscription in subscriptions %}
      <tr>
        <td>{{ subscription["customer"] }}</td>
        <td>{{ subscription["id"] }}</td>
        <td>{{ subscription["created"] }}</td>
        <td>{{ subscription["status"] }}</td>
        <td>{{ subscription["canceled_at"] }}</td>
        <td>{{ subscription["current_period_start"] }}</td>
        <td>{{ subscription["current_period_end"] }}</td>
        <td>{{ subscription["trial_start"] }}</td>
        <td>{{ subscription["trial_end"] }}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}