{% extends "layout.html" %}{% block content %}
	<section class="home">
		<section class="premium">
			<div class="container-fluid m-5">
				<div class="heading">
					<h1>{{current_user.username}} Favoriten</h1>
				</div>
				
				<div class="favorite-cards">
					<div class="container-fluid text-start">
						<div class="row">
							{% for formula in favorite_formulas %}
							<div class="col-xl-4 col-lg-4 col-md-3 pl-4 response">
								<div class="card">
									<div class="card-header">
									  {{formula.favorite_type}} [{{formula.favorite_method}}]: {{formula.favorite_date.strftime('%H:%m, %d-%m-%Y')}}
									</div>
									<div class="card-body">
										=WENN x = Y
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					  </div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}