{% extends "layout.html" %}{% block content %}
	<section class="home">
  		<div class="container mt-5 profile">

			<div class="flashmessages">
				{% with messages = get_flashed_messages(with_categories=true) %}
  					{% if messages %}
    					{% for category, message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
								<strong>{{ message }}</strong>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						  	</div>
    					{% endfor %}
 					{% endif %}
				{% endwith %}
			</div>


			<div class="card p-3 text-center">
				<form method="POST" enctype="multipart/form-data">
					{{form.hidden_tag()}}
					<div class="d-flex flex-row justify-content-center mt-2 mb-5">
						<div class="image"> <img src="{{url_for('static', filename='profile_pictures/' + current_user.profile_picture)}}" class="rounded-circle"> <span><i class='bx bxs-camera-plus'></i></span> </div>
						<div class="d-flex flex-column ms-3 user-details">
								<h4 class="mb-0 mt-2">{{current_user.username}}</h4>
								<h6 class="mt-2">{{current_user.job_description}}</h6>
								{% if current_user.is_premium %}
									<div class="ratings"><i class='bx bx-star ms-1'></i> </div> <span>Premium Member</span>
								{% else %}
									<div class="ratings mt-1"></div> <span>Gratis Mitglied</span>
								{% endif %}	
							</div>
					</div>
					<h4>Profil bearbeiten</h4>
					<div class="container">
						<div class="row justify-content-start">
							<div class="col-xl-6 col-lg-8 col-md-8 my-2">
								<div class="inputs">{{form.username(class="form-control",placeholder="Username")}}</div>
								{% for error in form.username.errors %}
									<div class="alert alert-warning alert-dismissible fade show my-1" role="alert">
										{{error}}
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								  	</div>
    							{% endfor %}
							</div>
							<div class="col-xl-6 col-lg-8 col-md-8 my-2">
								<div class="inputs">{{form.email(class="form-control", placeholder="Email")}} </div>
								{% for error in form.email.errors %}
									<div class="alert alert-warning alert-dismissible fade show my-1" role="alert">
										{{error}}
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								  	</div>
    							{% endfor %}
							</div>
							<div class="col-xl-7 col-lg-8 col-md-8 justify-content-start my-2">
								<div class="inputs">{{form.job_description(class="form-control",placeholder="Berufsbezeichnung")}} </div>
							</div>
							<div class="col-xl-7 col-lg-8 col-md-8 justify-content-start my-2">
								<div class="inputs">{{form.profile_picture(class="form-control",placeholder="Berufsbezeichnung")}} </div>
							</div>
							<!-- <div class="col-xl-6 col-lg-8 col-md-8 my-2">
								<div class="inputs">{{form.password(class="form-control",placeholder="Passwort")}}</div>
							</div>
							<div class="col-xl-6 col-lg-8 col-md-8 my-2">
								<div class="inputs">{{form.confirm_pw(class="form-control",placeholder="Passwort bestätigen")}}</div>
							</div> -->
						</div>
						<div class="row justify-content-end">
							{% if not current_user.is_premium %}
								<a href="{{url_for('core.pricing')}}" class="btn btn-outline-primary col-xl-2 mt-3 me-2 profile-btn" id="profile-premium-btn"><i class='bx bx-diamond icon pe-2'></i>Premium</a>
							{% endif %}
								{{form.submit(class="btn btn-primary col-xl-2 mt-3")}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}