{% extends "layout.html" %}{% block content %}
<div class="heading mx-4 mt-3">
	<h3>Einstellungen</h3>
</div>
<div class="settings mt-3 mx-3">
	<div class="col-6 text-center">
		<div class="card shadow-lg">
			<div class="flex-row justify-content-center align-items-center mt-3 mb-2">
				<a href="{{url_for('user.edit_user')}}" class="mx-2">
					<button class="btn btn-secondary {{ 'active' if active_page == 'edit_user' else '' }} px-5 py-2">Profil</button>
				</a>
                <a href="{{url_for('user.edit_email')}}" class="mx-2">
					<button class="btn btn-secondary {{ 'active' if active_page == 'edit_email' else '' }} px-5 py-2">E-Mail</button>
				</a>
                <a href="{{url_for('user.edit_password')}}" class="mx-2">
					<button class="btn btn-secondary {{ 'active' if active_page == 'edit_password' else '' }} px-5 py-2">Passwort</button>
				</a>
            </div>
			<hr class="mx-2">
			<div class="flashmessages">
				{% with messages = get_flashed_messages(with_categories=true) %} {% if
				messages %} {% for category, message in messages %}
				<div
				  class="alert alert-{{ category }} alert-dismissible fade show"
				  role="alert"
				>
				  <strong>{{ message }}</strong>
				  <button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"
					aria-label="Close"
				  ></button>
				</div>
				{% endfor %} {% endif %} {% endwith %}
			</div>
			<div class="container data justify-content-center">
				<form action="" method="POST" >
					{{form.hidden_tag()}}
					<div class="form-group col-6 offset-md-3 my-4">
						{{form.old_password(class="form-control", placeholder="Altes Passwort")}}
					</div>
					<div class="form-group col-6 offset-md-3 my-4">
						{{form.password(class="form-control", placeholder="Neues Passwort")}}
					</div>
					<div class="form-group col-6 offset-md-3 my-4">
						{{form.confirm_pw(class="form-control", placeholder="Neues Passwort bestätigen")}}
					</div>
					{{form.submit(class="btn btn-primary py-2 px-5 my-3")}}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}