{% extends "layout.html" %}{% block content %}

<div class="heading mx-4 mt-3">
	<h3>Einstellungen</h3>
</div>
<div class="settings mt-3 mx-3">
	<div class="col-6 text-center">
		<div class="card shadow-lg">
			<div class="flex-row justify-content-center align-items-center mt-3 mb-2">
				<a href="{{url_for('user.edit_user')}}" class="col-12 mx-2">
					<button class="btn btn-secondary {{ 'active' if active_page == 'edit_user' else '' }} px-5 py-2">Profil</button>
				</a>
				{% if not current_user.is_oauth %}
					<a href="{{url_for('user.edit_password')}}" class="mx-2 col-sm-12">
						<button class="btn btn-secondary {{ 'active' if active_page == 'edit_password' else '' }} px-5 py-2">Passwort</button>
					</a>
				{% endif %}
            </div>
	
			<hr class="mx-2">
			<div class="flashmessages mx-4">
				{% with messages = get_flashed_messages(with_categories=true) %} {% if
				messages %} {% for category, message in messages %}
				<div
				  class="alert alert-{{ category }} alert-dismissible fade show"
				  role="alert"
				>
				  <strong>{{ message }}</strong>
				  <button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"
					aria-label="Close"
				  ></button>
				</div>
				{% endfor %} {% endif %} {% endwith %}
			</div>
			<div class="container settings-data justify-content-center">
				<form action="" method="POST">
					{{form.hidden_tag()}}
					<div class="form-group my-4 col-6 offset-md-3">
						{{form.firstname(class="form-control", placeholder=(current_user.firstname if 
							current_user.firstname else "Vorname (optional)"))}}
					</div>
					<div class="form-group my-4 col-6 offset-md-3">
						{{form.lastname(class="form-control", placeholder=(current_user.lastname if 
							current_user.lastname else "Nachname (optional)"))}}
					</div>
					<div class="form-group my-4 col-6 offset-md-3">
						{{form.job_description(class="form-control", placeholder=(current_user.job_description 
							if current_user.job_description else "Berufsbezeichnung (optional)"))}}
					</div>
					{{form.submit(class="btn btn-primary py-2 px-5 mt-3 mb-5")}}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}