{% extends "layout.html" %}{% block content %}
	<section class="home">
  		<div class="container mt-5 profile">

			<div class="card p-3 text-center">
				<form method="POST" enctype="multipart/form-data">
					{{form.hidden_tag()}}
					<div class="d-flex flex-row justify-content-center mt-2 mb-5">
						{% set s3_link =  "https://iqsheetsbucket.s3.eu-central-1.amazonaws.com/profile_pictures/" + current_user.profile_picture %}
						<div class="image"> <img src="{{s3_link}}" class="rounded-circle"> <span>
							<span> <label for="file-input" {{ form.profile_picture.label.kwargs }}>{{ form.profile_picture.label }}</label>
								{{ form.profile_picture()}}</span>
						</div>
						<div class="d-flex flex-column justify-content-start text-start ms-3 user-details">
								<h5>{{current_user.username}}</h5>
								<h6>{{current_user.email}}</h6>
								{% if current_user.job_description %}
									<h6>{{current_user.job_description}}</h6>
								{% endif %}
								
								{% if current_user.premium %}
									<div class="ratings justify-content-start">
										<i class='bx bx-star ms-5'></i> 
									</div> 
									<span>Premium Member</span>
								{% else %}
									<div class="ratings mt-1"></div><span>Gratis Mitglied</span>
								{% endif %}	
						</div>
					</div>

					<div class="d-flex flex-row justify-content-center mt-2 mb-3">
						<button class="btn btn-primary mx-2" disabled>Profil bearbeiten</button>
						<a href="{{url_for('user.change_password')}}"><button type="button" class="btn btn-outline-secondary">
							Passwort ändern
						</button></a>
					</div>
					
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-6 col-lg-6 col-md-6 my-2">
								<div class="inputs">{{form.username(class="form-control",placeholder="Username")}}</div>
								{% for error in form.username.errors %}
									<div class="alert alert-warning alert-dismissible fade show my-1" role="alert">
										{{error}}
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								  	</div>
    							{% endfor %}
							</div>
						</div>
						{% if not current_user.is_oauth %}
						<div class="row justify-content-center">
							<div class="col-xl-6 col-lg-6 col-md-6 my-2">
								<div class="inputs">{{form.email(class="form-control", placeholder="Email")}} </div>
								{% for error in form.email.errors %}
									<div class="alert alert-warning alert-dismissible fade show my-1" role="alert">
										{{error}}
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								  	</div>
    							{% endfor %}
							</div>
						</div>
						{% endif %}
						<div class="row justify-content-center">
							<div class="col-xl-6 col-lg-6 col-md-6 justify-content-start my-2">
								<div class="inputs">{{form.job_description(class="form-control",placeholder="Berufsbezeichnung")}} </div>
							</div>
						</div>
					</div>
						<div class="row justify-content-end mt-2 me-2">
							{% if not current_user.premium %}
								<a href="{{url_for('core.pricing')}}" class="btn btn-outline-primary col-xl-2 mt-3 me-2 profile-btn" id="profile-premium-btn"><i class='bx bx-diamond icon pe-2'></i>Premium</a>
							{% endif %}
								{{form.submit(class="btn btn-primary col-xl-2 mt-3")}}
						</div>
					</div>
				</form>

				<div class="container text-center mt-4">
					<div class="row justify-content-end flashmessages">
						<div class="col-xl-4 col-lg-4 col-md-6">
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
							  		{% for category, message in messages %}
								  		<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
									  		<strong>{{ message }}</strong>
									  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								  		</div>
							  		{% endfor %}
						   		{% endif %}
					  	{% endwith %}
						</div>
					</div>
				</div>
		</div>
	</section>
{% endblock %}