{% extends "base.html" %} {% block content %}

<main>
  <section class="password">
    <div class="container mx-auto">
      <div class="row justify-content-center align-items-center mt-5">
        <div class="col-3 justify-content-center align-items-center mt-5 mb-3">
          <h3 class="form-title w-100">Passwort zurücksetzen</h3>
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="flashmessages col-3 justify-content-center">
          {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %} {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show d-flex align-items-start" role="alert">
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %} {% endif %} {% endwith %}
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="form col-lg-3 mb-5">
          <form action="" method="POST">
            {{form.hidden_tag()}}
            <div class="form-group mt-3">
              {{form.email(class="form-control w-100", placeholder="Deine Emailadresse")}}
            </div>
            {% for error in form.email.errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{error}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
              {{form.submit(class="btn btn-primary mt-3 mb-4 w-100")}}
          </form>
          <div>
            <p class="mb-5">oder<a href="{{url_for('user.register')}}"> Anmelden</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
    
{% endblock %}
