{% extends "base.html" %}

{% block content %}
    <h1>Passwort zurücksetzen</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_pw.label }}<br>
            {{ form.confirm_pw }}<br>
            {% for error in form.confirm_pw.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}